 <!-- <% layout("/layouts/Boilerplate") -%> -->
  <% layout("layouts/boilerplate") -%>
    <div class="row fs-1">
        <div class="col-5 offset-3">
            <h1 class="col-6 offset-3">SignUP on wanderlust</h1>
            <form action="/signUp" method="post" class="needs-validation" novalidate>
                <div class="mb-4">
                    <label for="username" class="form-lavel fs-1">Username</label>
                    <input type="text" name="username" id="username" placeholder="Enter Username" class="form-control fs-1" required>
                    <div class="valid-feedback">
                        look's good 
                    </div>
                    <div class="invalid-feedback">
                         Username required
                    </div>
                </div>
                <div class="mb-4">
                    <label for="Email" class="form-lavel fs-1">Gmail</label>
                    <input type="text" name="Email" id="Email" placeholder="Enter Email" class="form-control fs-1" required>
                    <div class="valid-feedback">
                        look's good 
                    </div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-lavel fs-1">Password</label>
                    <input type="password" name="password" id="password"   class="form-control fs-1" required>
                    <div class="valid-feedback">
                       it should be strong !
                    </div>
                    <button class="btn btn-success fs-1">SignUP</button>
                </div>    
            </form>
        </div>
    </div>